.content__about__me {
    margin: auto;
}
.second__title__about {
    font-family: 'Roboto';
    font-size: 34px;
    font-weight: 700;
}

.text_about {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
}