.container {
    width: 1140px;
    margin: 0 auto;
}

.about__me {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
}

.img__about__me {
    width: 500px;
    height: 400px;
}