.header__menu__list {
    list-style-type: none;
    display: flex;
}

.header__menu__list li  {
    margin-right: 15px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.header__menu__list li:last-child {
    margin-right: 0;
}