.auth_form_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 400px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons_form {
    display: flex;
}