.header__wrapper {
    border-bottom: solid 1px #000000;
    width: 100%;
    margin-bottom: 40px;
}

.container {
    width: 1140px;
    margin: 15px auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__header__menu {
    display: flex;
    align-items: center;
}

.logo__header {
    width: 150px;
}