.second__column__footer {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.menu__footer {
    list-style-type: none;
}

.menu__footer li {
    margin-bottom: 5px;
}

.menu__footer li:last-child {
    margin-bottom: 0;
}