.right__header__information {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.right__header__information:hover {
    color: lightblue;
}

.header__phone {
    margin-bottom: 5px;
}