.footer__wrapper {
    width: 100%;
    border-top: solid 1px #000000;
    margin-top: 50px; // потому убрать
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}