.registration_form_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration_form {
    box-sizing: border-box;
    width: 60%;
    background-color: rgb(172,172,172);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5%;
    
}
